<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Variable Page</title>
  </head>
  <body>
    <h1>Variable Page</h1>
    <p>This is the variable page.</p>

    <section>
      <h1>User Information</h1>

      <p>
        <% if (admins && admins[0] && admins[0].isadmin) { %>
          Welcome admin <%= admins[0].adminname %>
        <% } else { %>
          Hello <%= users[0].name %>, 
          you are <%= users[0].age %> years old, 
          and you live in <%= users[0].city %>.
          <br>
          <h2>Your preferred programming languages are:</h2> <br>
          <ul>
            <% userlang.forEach((lang) => { %>
              <li><%= lang %></li>
            <% }); %>
          </ul>
        <% } %>
      </p>

      <p>Status: <%= users[0].isactive ? "Active" : "Inactive" %></p>
    </section>
  </body>
</html>
